<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styleForLogin.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Waffyログアウト</title>
</head>

<body>
	<div class="header-wrapper">
		<header th:fragment="page_header">
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid nav navbar-white bg-white">
					<a class="navbar-brand mb-0 h1" href="">Waffy</a>
				</div>
			</nav>
		</header>
	</div>

	<div class="container">
		<h1>ログアウト</h1>
		<p>ログアウトしました。</p>
		<br>
		<p>
			<a th:href="@{/}">ログイン画面に戻る</a>
		</p>
	</div>
</body>
</html>