<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/common :: html_head}"></head>
<body>
	<div class="header-wrapper">
		<header th:replace="~{parts/common :: page_header}"></header>
	</div>
	<div class="container">
		<h1>[[${title}]]</h1>
		<div class="row">
			<div class="col-md-12">
				<form th:action="@{/apply/register}" th:object="${apply}"
					method="post" enctype="multipart/form-data">
					<table class="table bordered table-hover list-table">
						<thead>
							<tr class="align-middle">
								<th>項目</th>
								<th>内容</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>申請内容</th>
								<td>[[${detailName}]]</td>
							</tr>
							<tr>
								<th>経費種別</th>
								<td>[[${expenseName}]]</td>
							</tr>
							<tr>
								<th>使用日</th>
								<td>[[${apply.usedDate}]]</td>
							</tr>
							<tr>
								<th>出金額</th>
								<td>\[[${#numbers.formatDecimal(apply.paymentAmount, 0, 'COMMA', 0, 'POINT')}]]</td>
							</tr>
							<tr>
								<th>使途・目的</th>
								<td>[[${apply.usagePurpose}]]</td>
							</tr>
							<tr>
								<th>支払い先</th>
								<td>[[${apply.payeeName}]]</td>
							</tr>
							<tr>
								<th>承認期日</th>
								<td>[[${apply.approvalDate}]]</td>
							</tr>
							<tr>
								<th>備考</th>
								<td>[[${apply.note}]]</td>
							</tr>
							<tr>
								<th>添付ファイル</th>
								<td>[[${fileName}]]</td>
							</tr>
						</tbody>
					</table>

					<input type="hidden" th:field="*{detail.code}" /> <input
						type="hidden" th:field="*{expense.code}" /> <input type="hidden"
						th:field="*{usedDate}" /> <input type="hidden"
						th:field="*{paymentAmount}" /> <input type="hidden"
						th:field="*{usagePurpose}" /> <input type="hidden"
						th:field="*{payeeName}" /> <input type="hidden"
						th:field="*{approvalDate}" /> <input type="hidden"
						th:field="*{note}" />

					<div class="form-group">
						<a th:href="@{/apply/register}"
							class="btn btn-dark">戻る</a> <input type="submit"
							class="btn btn-dark" value="確定" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>