<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/common :: html_head}"></head>
<body>
	<div class="header-wrapper">
		<header th:replace="~{parts/common :: page_header}"></header>
	</div>
	<div class="container">
		<h1>承認結果</h1>
		<p th:if="${result == 'approve'}">承認されました。</p>
		<p th:if="${result == 'returned'}">差し戻しました。</p>
		<p>
			<a th:href="@{/unapproved(page=${session.userPage})}">未承認一覧に戻る</a>
		<p>
	</div>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>