<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/common :: html_head}"></head>
<body>
	<div class="header-wrapper">
		<header th:replace="~{parts/common :: page_header}"></header>
	</div>
	<div class="container">
		<h1>[[${title}]]</h1>
		<div class="row">
			<div class="col-md-12">
				<table class="table bordered table-hover list-table">
					<thead>
						<tr class="align-middle">
							<th>申請内容</th>
							<td>[[${unapprovedDetail.applicationDetail}]]</td>
						<tr />
						<tr>
							<th>経費種別</th>
							<td>[[${unapprovedDetail.expenseType}]]</td>
						<tr />
						<tr>
							<th>使用日</th>
							<td>[[${unapprovedDetail.usedDate}]]</td>
						<tr>
							<th>出金額</th>
							<td>[[${unapprovedDetail.paymentAmount}]]</td>
						</tr>
						<tr>
							<th>使途・目的</th>
							<td>[[${unapprovedDetail.usagePurpose}]]</td>
						</tr>
						<tr>
							<th>支払い先</th>
							<td>[[${unapprovedDetail.payeeName}]]</td>
						</tr>
						<tr>
							<th>承認期日</th>
							<td>[[${unapprovedDetail.approvalDate}]]</td>
						</tr>
						<tr>
							<th>備考</th>
							<td>[[${unapprovedDetail.note}]]</td>
						</tr>

						<tr>
							<th>添付ファイル</th>
							<td><a
								th:href="@{/files/{fileName}(fileName=${unapprovedDetail.fileName})}"
								th:text="${unapprovedDetail.fileName}" target="_blank"></a></td>
						</tr>

					</thead>

				</table>
			</div>
		</div>
		<a class="btn btn-dark"
			th:href="@{/unapproved(page=${session.unapprovedPage})}">未承認一覧に戻る</a>
		<button type="button" class="btn btn-dark" data-bs-toggle="modal"
			data-bs-target="#approveModal">承認する</button>
		<button type="button" class="btn btn-dark" data-bs-toggle="modal"
			data-bs-target="#returnedModal">差し戻す</button>
		<!-- Modal -->
		<div class="modal fade" id="approveModal" tabindex="-1"
			aria-labelledby="approveModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<p>処理を続けてよろしいですか？</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
						<form
							th:action="@{/unapproved/approve/{index}(index=${unapprovedDetail.managementNumber})}"
							method="post">
							<input type="submit" value="OK" class="btn btn-dark"
								id="approveButton">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="returnedModal" tabindex="-1"
			aria-labelledby="returnedModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<p>処理を続けてよろしいですか？</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
						<form
							th:action="@{/unapproved/returned/{index}(index=${unapprovedDetail.managementNumber})}"
							method="post">
							<input type="submit" value="OK" class="btn btn-dark"
								id="deleteButton">
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	</div>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>