<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/common :: html_head}"></head>
<body>
	<div class="header-wrapper">
		<header th:replace="~{parts/common :: page_header}"></header>
	</div>
	<div class="container">
		<h1 class="mb-4">[[${title}]]</h1>
		<!-- 2 ページ以上の場合、ページネーションを表示:start -->
		<div th:if="${totalPages >= 2}">
			<ul class="pagination">
				<!-- 前のページへ -->
				<th:block th:switch="${page}">
					<li th:case="1" class="page-item disabled"><a
						class="page-link page-next" href="">&laquo;</a></li>
					<li th:case="*" class="page-item"><a
						class="page-link page-next" th:href="@{/unapproved(page=${page - 1})}">&laquo;</a></li>
				</th:block>
				<!-- ページ番号 -->
				<th:block th:each="index : ${#numbers.sequence(1, totalPages)}">
					<th:block th:switch="${index}">
						<li th:case="${page}" class="page-item active page-border"><a
							class="page-link" href="">[[${index}]]</a></li>
						<li th:case="*" class="page-item page-border"><a
							class="page-link" th:href="@{/unapproved(page=${index})}">[[${index}]]</a></li>
					</th:block>
				</th:block>
				<!-- 次のページへ -->
				<th:block th:switch="${page}">
					<li th:case="${totalPages}" class="page-item disabled"><a
						class="page-link page-next" href="">&raquo;</a></li>
					<li th:case="*" class="page-item"><a
						class="page-link page-next" th:href="@{/unapproved(page=${page + 1})}">&raquo;</a></li>
				</th:block>
			</ul>
		</div>
		<!-- 2 ページ以上の場合、ページネーションを表示:end -->
		<div class="row">
			<div class="col-md-12">
				<table class="table bordered table-hover list-table ">
					<thead>
						<tr class="align-middle">
							<th>申請内容</th>
							<th>承認期日</th>
							<th>申請者</th>
							<th>申請状況</th>
							<th>詳細</th>
						</tr>
					</thead>
					<tbody>
						<tr class="align-middle" th:each="u:${unapprovedInfo}">
							<td>[[${u.applicationDetail}]]</td>
							<td>[[${#temporals.format(u.approvalDate, 'yyyy年MM月dd日 (E)',
								'Asia/Tokyo')}]]</td>
							<td>[[${u.applicationName}]]</td>
							<td>[[${u.applicationStatus}]]</td>
							<td><a
								class="btn btn-outline-dark w-75 py-0btn btn-outline-dark w-75 py-0"
								th:href="@{/unapproved/detail/{index}(index=${u.managementNumber})}">詳細</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div>
			<a class="btn btn-dark" th:href="@{/apply}">一覧に戻る</a>
		</div>
	</div>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>