body {
	overflow: scroll;
}

/* ナビゲーション */
.header-wrapper {
	padding: 0 14px;
	margin-bottom: 40px;
}

@media (min-width: 992px) {
    .header-wrapper {
        max-width: 960px;
        margin: 0 auto 40px;
    }
}

@media (min-width: 1200px) {
    .header-wrapper {
        max-width: 1340px;
    }
}

@media (max-width: 992px) {
    .table-spacing {
        margin-bottom: 1rem;
    }
}

header {
    display: inline-block;
    width: 100%;
}
nav .nav {
    border: 1px solid #000;
    padding: 8px 16px;
}

.navbar-expand-lg .navbar-collapse {
	transition: max-height 0.5s ease;
}

.navbar-nav{
    justify-content: space-between;
}

.nav-link:hover {
    font-weight: bold;
  }

.login_nav {
    display: flex;
}

.col-6 {
	padding: 0 12px;
}

.navbar-collapse {
	justify-content: space-between;
}

.bi-person-fill {
    fill: rgb(43, 135, 255);
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"> <path d="M7.247 11.14l-4.796-5.481C2.163 5.178 2.52 4.5 3.102 4.5h9.796c.583 0 .94.678.651 1.159l-4.796 5.481a1 1 0 0 1-1.51 0z"/> </svg>') no-repeat right 0.75rem center/16px 20px;
    padding-right: 2.25rem;
}

.navbar-toggler {
	position: fixed;
    top: 14px;
    right: 20px;
    background-color: white;
    border: 1px solid #000;
}

.right-align {
    margin-left: auto !important;
}


.current {
	font-weight: bold;
}

/* メイン要素 */
.container {
	margin-bottom: 40px;
}

.btn-dark {
    background: #BBBBBB;
    color: black;
    border-radius: 5px;
    padding: 2px 30px;
    border: 1px solid black;
    margin-top: 30px;
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.open > .dropdown-toggle.btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover {
    background: #DDDDDD;
    color: black;
}

/* 通常の状態に対するホバー時のスタイルを追加 */
.btn-dark:not(:hover) {
    background: #BBBBBB;
    color: black;
}

.btnx--outline-dark {
    color: var(--bs-black);
    background: var(--bs-white);
    border: 1px solid black;
}

.border-line{
	border-color:black;
	border-radius:0;
}

pre{
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
}

#menu-button{
	margin-right: 10px;
}

/* イベント */
.table {
	table-layout: fixed;
}

.align-middle {
	overflow-wrap : break-word;
}
















