<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/common :: html_head}"></head>
<body>
	<div class="header-wrapper">
		<header th:replace="~{parts/common :: page_header}"></header>
	</div>
	<div class="container">
		<h1 class="mb-4">[[${title}]]</h1>
		<!-- 2 ページ以上の場合、ページネーションを表示:start -->
		<div th:if="${totalPages >= 2}">
			<ul class="pagination">
				<!-- 前のページへ -->
				<th:block th:switch="${page}">
					<li th:case="1" class="page-item disabled"><a
						class="page-link page-next" href="">&laquo;</a></li>
					<li th:case="*" class="page-item"><a class="page-link page-next"
						th:href="@{/user(page=${page - 1})}">&laquo;</a></li>
				</th:block>
				<!-- ページ番号 -->
				<th:block th:each="index : ${#numbers.sequence(1, totalPages)}">
					<th:block th:switch="${index}" >
						<li th:case="${page}" class="page-item active page-border"><a
							class="page-link" href="">[[${index}]]</a></li>
						<li th:case="*" class="page-item page-border"><a class="page-link"
							th:href="@{/user(page=${index})}">[[${index}]]</a></li>
					</th:block>
				</th:block>
				<!-- 次のページへ -->
				<th:block th:switch="${page}">
					<li th:case="${totalPages}" class="page-item disabled"><a
						class="page-link page-next" href="">&raquo;</a></li>
					<li th:case="*" class="page-item"><a class="page-link page-next"
						th:href="@{/user(page=${page + 1})}">&raquo;</a></li>
				</th:block>
			</ul>
		</div>
		<!-- 2 ページ以上の場合、ページネーションを表示:end -->
		<div class="row">
			<div class="col-md-12">
				<table class="table bordered table-hover list-table ">
					<thead>
						<tr class="align-middle">
							<th>社員番号</th>
							<th>氏名</th>
							<th>所属グループ</th>
							<th>支店</th>
							<th>詳細</th>
						</tr>
					</thead>
					<tbody>
						<tr class="align-middle" th:each="u:${userInfo}">
							<td>[[${u.employeeNumber}]]</td>
							<td>[[${u.name}]]</td>
							<td>[[${u.department}]]</td>
							<td>[[${u.branch}]]</td>
							<td><a
								class="btn btn-outline-dark w-75 py-0btn btn-outline-dark w-75 py-0"
								th:href="@{/user/detail/{index}(index=${u.employeeNumber})}">詳細</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div>
			<a class="btn btn-dark"
				th:href="@{/user/register}">ユーザの登録</a>
		</div>
	</div>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>